# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Data files (do not upload user data)
backend/data_preprocessing_backend/data/raw/*
backend/data_preprocessing_backend/data/processed/*
